Flask
flask-login
Flask-JWT-Extended
Flask-SQLAlchemy==3.0.5
flask-cors
Flask-Migrate
Flask-Dance[sqla]
pyopenssl
python-decouple
requests
celery
redis
pandas
openai
backoff
tiktoken
scipy
gunicorn
PyJWT
psycopg2
pathvalidate